@model IEnumerable<ShopWeb.Models.Category>

@{
    ViewData["Title"] = "Index";
}
<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
    
        <tr>
            <td>
                 <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
}
    </tbody>
</table>
